{% extends 'layouts/main.html' %}
{% block title %}New Show Listing{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">List a new show</h3>
      <div class="form-group">
        <label for="name">Show Name</label>
        <small>Name of the show</small>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="artists">Artist</label>
        {{ form.artists(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="venues">Venue</label>
        {{ form.venues(class_ = 'form-control',placeholder='Select a venue' , autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <small>A small description about the show</small>
        {{ form.description(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="starttime">Start Time</label>
          {{ form.starttime(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="endtime">End Time</label>
        {{ form.endtime(class_='form-control', placeholder='YYYY-MM-DD HH:MM', autofocus=true) }}
      </div>
      <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}