{% extends 'main.html' %}
{% block title %}New Venue{% endblock %}
{% block content %}
<div class="form-wrapper">
    <form method="post" class="form">
        <h3 class="form-heading">List a new Actor <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
        <div class="form-group">
            <label for="name">Name</label>
            {{ form.name(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            {{ form.age(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
            <label>Gender</label>
            <div class="form-inline">
                <div class="form-group">
                    {{ form.gender(class_ = 'form-control', placeholder='Gender', autofocus = true) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="image_link">Image Link</label>
            {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus=true) }}
        </div>
        <input type="submit" value="Add Actor" class="btn btn-primary btn-lg btn-block">
    </form>
</div>
{% endblock %}