{% extends 'main.html' %}
{% block title %}The Casting Agency | Actors{% endblock %}
{% block content %}
<ul class="items">
    {% if 'actors' in items %}
        {% for item in items.actors %}
        <li>
            <a href="/actors/{{item.id}}/show">
                <i class="fas fa-users"></i>
                <div class="item">
                    <h5>{{ item.name }}</h5>
                </div>
            </a>
        </li>
        {% endfor %}
    {% else %}
        {% for item in items.movies %}
        <li>
            <a href="/movies/{{item.id}}/show">
                <i class="fas fa-users"></i>
                <div class="item">
                    <h5>{{ item.title }}</h5>
                </div>
            </a>
        </li>
        {% endfor %}
    {% endif %}
</ul>
{% endblock %}