{% extends 'main.html' %}
{% block title %}The Casting Agency{% endblock %}
{% block content %}
<div class="row">
    {% if 'actor' in item %}
    <div class="col-sm-6">

        <h1 class="monospace">
            {{ item.actor.name }}
            {% if 'modify:actors' in permissions %}
            <a href="/actors/{{item.actor.id}}/edit"><i class="fas fa-pencil-alt"></i></a>
            {%endif%}
            {% if 'delete:actors' in permissions %}
            <a href="/actors/{{ item.actor.id }}/delete"><i class="far fa-trash-alt" style="color: red"></i></a>
            {%endif%}
        </h1>
        <div style="border-top: 0 none; border-bottom: 0 none; border-left: 0 none; border-right: 0 none">
            <ul class="list-unstyled">
                <li>
                    <p class="subtitle">
                        ID: {{ item.actor.id }}
                    </p>
                </li>
                <li>
                    <p>
                        Age: {{ item.actor.age }}
                    </p>
                </li>
                <li>
                    <p>
                        Gender: {{ item.actor.gender }}
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="{{ item.actor.image_link }}" alt="Image"/>
    </div>
    {% else %}
    <div class="col-sm-6">
        <h1 class="monospace">
            {{ item.movie.title }}
            {% if 'modify:movies' in permissions %}
            <a href="/movies/{{item.movie.id}}/edit"><i class="fas fa-pencil-alt"></i></a>
            {%endif%}
            {% if 'delete:movies' in permissions %}
            <a href="/movies/{{ item.movie.id }}/delete"><i class="far fa-trash-alt" style="color: red"></i></a>
            {% endif %}
        </h1>

        <div style="border-top: 0 none; border-bottom: 0 none; border-left: 0 none; border-right: 0 none">
            <ul class="list-unstyled">
                <li>
                    <p class="subtitle">
                        ID: {{ item.movie.id }}
                    </p>
                </li>
                <li>
                    <p>
                        Release Date: {{ item.movie.release_date|datetime }}
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="{{ item.movie.image_link }}" alt="Image"/>
    </div>
    {% endif %}
</div>
{% endblock %}